body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .removeAllButton, #lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  width: 100%;
  background-color: #555;
  z-index:100;
  position: absolute;
}
.title{
  background-color: #777;
}
.dancer-element{
  border:10px solid red;
  border-radius:50%;
  position:absolute;
}
.Wanderer{
  background-color: red;
  float: left;
}
.SpaceShip{
  border: 0;
  z-index: 50;
}
.centered{
  margin: 0 auto;
  position:relative;
  height:auto;
  width:auto;
}
#videoDiv{
  position: absolute;
  margin: auto;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:100;
}
#videoURL{
  width:100%;
}
#videoButton{
  padding: 4px 10px;
}
#videoInput{
  display: table-cell;
  width:100%;
  padding: 0px 10px 0px 0px;
}
#videoForm{
  display:table;
  width:100%;
}
#videoEmbed {
  width:100%;
  height: 315px;
}
